*
{
    padding: 0%;
    margin: 0%;
    font-family: sans-serif;
}
body{
    background-color: #f5e8ba;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
   
    display: flex;
    flex-direction: column;
    background-color: #1f2029;
    color: #f5e8ba;
    width: 35%;
    align-items: center;
    height: 270px;
     border-radius: 5px;
}
.wrapper h2{
    margin-top: 24px;
    margin-bottom: 24px;
    letter-spacing: 1px;
}
.wrapper input{
    height: 30px;
    width: 70%;
    border-radius: 2px;
    border: none;
    padding-left: 5px;
}
.wrapper button{
    padding: 8px;
    background-color: #f5e8ba;
    border: none;
    border-radius: 2px;
}
.wrapper input:focus{
outline: none;
}
#todoList{
    cursor: pointer;
    color: white;
}
#todoList p{
    margin-top: 10px;
}
@media(max-width:480px){
    .wrapper{
      width: 300px;
        height: 350px;
    }
    .section{
        padding: 10px;
    }
}

